{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Registered Users</h1>
        <style>.table{border-radius: 20px; overflow: hidden;}</style>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_js %}
<script scr = "https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
        $(document).ready(function(){
        $(document).on('click', '.deleteClient', function(){    //NOTE: Consider this implementation when reconstructing "#addRow" for live application
            var clientId = $(this).closest('tr').data('client-id');
            // Delete client
            $.ajax({
                url: "{% url 'delete_client' %}",
                type: "POST",
                data: {
                    'client_id': clientId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response){
                    if(response.status === 'success'){
                        $('tr[data-client-id ="' + clientId + '"]').remove();
                    } else {
                        alert("Encountered error while accessing 'delete_client' method.")
                    }
                },
                error: function(){
                    alert("Error deleting client.")
                }
            });
        });
    });
</script>
{% endblock %}
